<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Experiment configure</title>
	<link rel="stylesheet" href="/jqm-themes/ig2.min.css" />
	<link rel="stylesheet" href="/jqm-themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="/jquery-mobile/jquery.mobile.structure-1.4.5.min.css" />
	<link rel="stylesheet" href="/jqm-themes/jqm-mh.css" />
  <link href="/mobile-css/1024.css" rel="stylesheet" media="screen and (min-width: 1024px)" />
</head>
<body>
